<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <% include header2 %>
    </div>
    <div class="container-fluid">

    </div>
  </body>
</html>
