<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <% include header2 %> 
    </div>
  </body>
  <script>
    var x='<%= msg%>';
    if(x!=''){
    $('#exampleModalLong2').modal('show');}
  </script>

</html>
