<!DOCTYPE html>
<html>
    <head>
        <title>Admin Products</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="javaa.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row" style="height: 120px;border: 2px solid gray;padding: 10px;">
                <div class="col-sm-2">
                    <img src="../assets/sonal.png" height="80px">
                </div>
                <div class="col-sm-2" style="height:80px;font-size: 10px;"> 
                    <h3 style="font-size: 15px;">Sonalika 241PDI</h3>
                    <p>
                        60 HP Category<br>
                        Dual Clutch<br>
                        HS-HT Gear Box<br>
                        PTO : 540 <br>
                    </p>
                </div>
                <div class="col-sm-2">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                                          D
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                                            I
                                        </button>
                                    </span>
                                </div>
                </div>
                <div class="col-sm-3">actions</div>

            </div>
            <div class="row" style="height: 120px;border: 2px solid gray;padding: 10px;">
                <div class="col-sm-3">
                    <img src="../assets/sonal.png" height="80px">
                </div>
                <div class="col-sm-3">details</div>
                <div class="col-sm-1">quantity</div>
                <div class="col-sm-1">price</div>
                <div class="col-sm-1">discount</div>
                <div class="col-sm-3">actions</div>

            </div>
        </div>
    </body>
</html>